body {
	background: url("../../assets/images/background.jpg");
	background-repeat: no-repeat;
	background-position: center;

}

div {
	border: px solid black;
}

img {
	border: px solid black;

}

.col-md-2 {
	border: 1px solid black;
	height: 200px;
}

.col-md-12 {
	text-align: center;
	margin-bottom: 50px;
	color: white;
}

#madridPick {
	border: px solid yellow;
}

.buttonParent {
	text-align: center;
}